$header-height: 100px;

$white: white;
$red: rgb(253, 66, 66);
$red-hover: rgba(253, 66, 66, .7);
$grey: rgb(231, 236, 239);
$violet: rgb(92, 50, 73);
$blue: rgb(53, 60, 101);
$blue-dark: rgb(44, 49, 84);