.clients-section {
  position: relative;

  &__container {
    padding: 6.25rem 0;
  }

  &__slider {
    width: 43%;
    margin-left: 60%;
  }

  &__bg {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__bg-left {
    width: 50%;
  }

  &__bg-right {
    width: 50%;
    background-color: $violet;
  }
}