.team-section {
  &__container {
    padding: 6.25rem 0;
  }

  &__members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__member {
    width: calc((100% - 90px) / 4);

    .social-link {
      margin-right: 5px;
    }
  }
}

@media (max-width: 1000px) {
  .team-section {
    &__members {
      justify-content: space-around;
    }

    &__member {
      width: 45%;
      margin-bottom: 40px;
      
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
} 


@media (max-width: 500px) {
  .team-section {
    &__members {
      justify-content: center;
    }

    &__member {
      width: 90%;
      margin-bottom: 40px;
      
      &:nth-last-child(-n+2) {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
} 