.team-section {
  &__container {
    padding: 6.25rem 0;
  }

  &__members {
    display: flex;
    justify-content: space-between;
  }

  &__member {
    width: calc((100% - 90px) / 4);

    .social-link {
      margin-right: 5px;
    }
  }
}