.team-member {
  &__avatar {
    height: 270px;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 1.375rem;
    margin-bottom: 5px;
  }

  &__position {
    font-size: 0.8125rem;
    color: $red;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__desc {
    font-size: 0.875rem;
    margin-bottom: 20px;
  }

  &__social-links {
    display: flex;
  }
}