@import './base/vars';
@import './base/sections/clients-section';
@import './base/sections/download-section';
@import './base/sections/features-section';
@import './base/sections/footer';
@import './base/sections/header';
@import './base/sections/hero-section';
@import './base/sections/projects-section';
@import './base/sections/team-section';

@import './base/components/project-item';
@import './base/components/slider';
@import './base/components/social-link';
@import './base/components/team-member';

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.default-btn {
  padding: 15px 40px;
  font-size: .9rem;
  color: $white;
  text-transform: uppercase;
  border-radius: 3px;

  &_color {
    &_red {
      background-color: $red;
    }
  }
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}



// // // // //

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__img {
    margin-bottom: 20px;
  }

  &__title {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__desc {
    line-height: 130%;
  }
}

// // // // //

@media (max-width: 1220px) {
  .container {
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
}